= content_for(:body_id) do
  account

= render '/organization/settings/sidebar', step: 'products'

#panel.notifications
  %h3
    Products
  .settings
  .row
    .col-sm-12
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Code
            %th Plans
            %th
        %tbody
          - @products.each do |product|

            %tr
              %td
                = link_to product.name, edit_organization_product_path(product)
              %td #{product.prepend_code}
              %td #{product.plans_count}
              %td
                - if product.deletable?
                  = link_to organization_product_path(product), method: :delete, confirm: 'Are you sure?' do
                    = icon 'trash-o'
          
      %br
      = link_to new_organization_product_path do
        = icon 'plus'
        Add New