.col-md-4.col-sm-6
  .pricing.hover-effect
    .pricing-head
      %h3
        #{plan.name}
        %span #{plan.subtitle}
    
    %ul.pricing-content.list-unstyled
      = render partial: 'bulletpoint', collection: plan.bulletpoints, as: :bulletpoint

    .pricing-footer
      %h4
        %i> $
        #{plan.amount.to_i}
        %i>.#{plan.cents}
        %span #{plan.charge_every}
      
      %p #{plan.description}

      = plan.subscribe_button
      
      