#sidebar-default.main-sidebar
  .current-user
    = link_to organization_dashboard_path, class: 'name' do
      = image_tag current_organizer.avatar.url(:thumb), class: 'avatar'
      %span= current_organizer.name
  .bottom-menu.hidden-sm
    %ul
      %li
        %a{:href => '#'}
          = icon 'question'
      %li
        %a{:href => '#'}
          = icon 'inbox'
          %span.flag
      %li
        = link_to destroy_organizer_session_path, method: :delete do
          = icon 'sign-out'

  = render 'layouts/organizer/sidebar_super_admin'
  = render 'layouts/organizer/sidebar_admin'
