.menu-section
  %h3 Admin
  %ul
    %li
      = link_to organization_users_path do
        = icon 'users fa-fw'
        %span Users
    %li
      = link_to organization_subscriptions_path do
        = icon 'usd fa-fw'
        %span Subscriptions
    %li
      = link_to organization_invoices_path do
        = icon 'file-o fa-fw'
        %span Invoices
    %li
      = link_to organization_transactions_path do
        = icon 'credit-card fa-fw'
        %span Transactions
    %li
      = link_to organization_sales_reps_path do
        = icon 'briefcase fa-fw'
        %span Sales Reps
    %li
      = link_to '#' do
        = icon 'bar-chart-o fa-fw'
        %span Reports
