- if current_organizer.super_admin? || current_organizer.account_owner?
  %section.menu-section
    %h3 Super Admin
    %ul
      %li
        = link_to organization_dashboard_path do
          = icon 'globe fa-fw'
          %span Dashboard
      %li
        %a{'data-toggle' => 'sidebar', :href => '#'}
          = icon 'gear fa-fw'
          %span Settings
          = icon 'chevron-down'
        %ul.submenu
          %li
            = link_to 'Organization', edit_organization_settings_organization_settings_path
          %li
            = link_to 'Application', edit_application_settings_organization_settings_path
          %li
            = link_to 'Products', organization_products_path
          %li
            = link_to 'Plans', organization_plans_path
      %li
        %a{'data-toggle' => 'sidebar', href: '#'}
          = icon 'bar-chart-o fa-fw'
          %span Reports
          = icon 'chevron-down fa-fw'
        %ul.submenu
          %li= link_to 'Placeholder', '#'
      %li
        = link_to organization_organizers_path do
          = icon 'users fa-fw'
          %span Admins
