.menu-section
  %h3 Admin
  %ul
    %li
      = link_to organization_users_path do
        = icon 'users fa-fw'
        %span Users
    %li
      = link_to organization_subscriptions_path do
        = icon 'usd fa-fw'
        %span Subscriptions
    %li
      = link_to organization_invoices_path do
        = icon 'file-o fa-fw'
        %span Invoices
    %li
      = link_to organization_transactions_path do
        = icon 'credit-card fa-fw'
        %span Transactions
    %li
      = link_to organization_sales_reps_path do
        = icon 'briefcase fa-fw'
        %span Sales Reps
    %li
      %a{'data-toggle' => 'sidebar', href: '#'}
        = icon 'bar-chart-o fa-fw'
        %span Reports
        = icon 'chevron-down fa-fw'
      %ul.submenu
        %li= link_to 'Digital Memberhip', digital_membership_organization_reports_path
        %li= link_to 'Direct Shipping', direct_shipping_organization_reports_path
        %li= link_to 'Local Pickup', local_pickup_organization_reports_path