.step.step3.animated
  .row
    
    .col-md-6
      .row
        .col-md-4
          %label{for: 'first_name'} * First Name
          = text_field_tag nil, '', id: 'first_name', class: 'form-control', data: {recurly: 'first_name'}
        .col-md-5
          %label{for: 'last_name'} * Last Name
          = text_field_tag nil, '', id: 'last_name', class: 'form-control', data: {recurly: 'last_name'}

      .row{:style => "margin-top: 15px"}
        .col-md-9
          %label{for: 'number'} * Card Number
          = text_field_tag nil, '', id: 'number', class: 'form-control', data: {recurly: 'number'}
      
      .row{:style => "margin-top: 15px"}
        .col-md-3
          %label * Exp. Month
          = text_field_tag nil, '', id: 'month', class: 'form-control', data: {recurly: 'month'}
          
        .col-md-3
          %label * Exp. Year
          = text_field_tag nil, '', id: 'year', class: 'form-control', data: {recurly: 'year'}
          
        .col-md-3
          %label{for: 'cvv'} * CVV
          = text_field_tag nil, '', id: 'cvv', class: 'form-control', data: {recurly: 'cvv'}
          
    .col-md-6
      .row
        .col-md-12
          .checkbox{:style => "margin-top: 15px"}
            %input{id: 'same_as_shipping', :checked => "", :type => "checkbox"}
            %label{for: 'same_as_shipping'} Same as shipping
            
      .row{:style => "margin-top: 15px"}
        .col-md-12
          %label{for: 'address1'} * Billing Address
          = text_field_tag nil, '', id: 'address1', class: 'form-control', data: {recurly: 'address1'}

      .row{:style => "margin-top: 15px"}
        .col-md-12
          = text_field_tag nil, '', id: 'address2', class: 'form-control', data: {recurly: 'address2'}

      .row{:style => "margin-top: 15px"}
        .col-md-6
          = text_field_tag nil, '', placeholder: 'City', id: 'address1', class: 'form-control', data: {recurly: 'city'}

        .col-md-3
          = text_field_tag nil, '', placeholder: 'State Code', class: 'form-control', data: {recurly: 'state'}
        .col-md-3
          = text_field_tag nil, '', placeholder: 'Zip Code', class: 'form-control', data: {recurly: 'postal_code'}

  .form-group.form-actions.text-right
    %a.btn-default.btn{"data-step" => "2", :href => "#"}
      = icon 'angle-double-left'
      %b Back
    
    %button.btn.btn-primary{"data-step" => "4", :type => "submit"}
      %b Next Step
      = icon 'angle-double-right'