.panel.panel-default
  .panel-heading
    %span Transactions:
  .panel-body
    %table.table.table-condensed
      %thead
        %tr
          %th
          %th Desription
          %th Created on
          %th Amount
          %th Invoice #
          %th Status
      %tbody
        - subscription_presenter.transactions.each do |transaction|
          %tr
            %td
              - if transaction.charge?
                = icon 'credit-card'
              - elsif transaction.credit?
                = icon 'plus'
            %td
              - if transaction.charge?
                = transaction.subscription.plan
              - elsif transaction.credit?
                'Credit'
            %td #{transaction.created_at.strftime('%m/%d/%Y')}
            %td #{number_to_currency(transaction.price)}
            %td= link_to transaction.invoice.number, organization_invoice_path(transaction.invoice, format: :pdf), target: '_blank'
            %td #{transaction.state.titleize}
