= content_for(:menubar) do
  Subscriptions

= content_for(:menubar_right) do
  .pull-right
    = link_to new_organization_subscription_path, class: 'btn btn-primary' do
      = icon 'plus-circle'
      Add New

.col-sm-9
  #subscriptions
    .row
      %table.table.table-striped
        %thead
          %tr
            %th Member#
            %th Name
            %th Plan
            %th Next Invoice
            %th Next Ship
            %th Status
        %tbody
          = render partial: 'subscription', collection: @subscriptions, as: :subscription

    %center
      = paginate @subscriptions
        
.col-md-3
  = render 'search'

:javascript
  $('.datepicker').datepicker({dateFormat: 'M d, yy'})