= content_for(:body_id) do
  wizard-custom

= render 'header'

.col-md-12
  %section.form-wizard
    = simple_form_for(@subscription_creator, url: organization_subscriptions_path, method: :post) do |f|
      = hidden_field_tag 'recurly-token', '', 'data-recurly' => 'token'
      = hidden_field_tag 'country', 'US', 'data-recurly' => 'country'
      = render 'setup_account', f: f
      = render 'select_subscription', f: f
      = render 'credit_card_info', f: f
      = render 'finish', f: f
      
:javascript
  var organization_subscription_creator_ready = function () {
    OrganizationSubscriptionCreator.init('#{current_organization.recurly_public_key}');
  }

  $(document).on("page:load", organization_subscription_creator_ready);
  $(document).ready(organization_subscription_creator_ready);