= content_for(:menubar) do
  Subscription Details: #{@subscription_presenter.user_name}

%div{:style => "margin-left: 15px"}
  = link_to organization_user_path(@subscription_presenter.user), class: 'btn btn-primary btn-xs' do
    &lt; back to user
  
.col-sm-12
  = render 'details', subscription_presenter: @subscription_presenter

  - if @subscription_presenter.show_shipping_info?
    = render 'shipping_info', subscription_presenter: @subscription_presenter
  
  = render 'transactions', subscription_presenter: @subscription_presenter

= render 'edit_location', subscription: @subscription_presenter.subscription if @subscription_presenter.local_pick_up?