= content_for(:menubar) do
  Subscription Details: #{@subscription_presenter.user_name}

= content_for(:menubar_right) do
  .pull-right
    .row.status-labels
      = @subscription_presenter.status_label

%div{style: "margin-left: 15px"}
  = link_to organization_user_path(@subscription_presenter.user), class: 'btn btn-primary btn-xs' do
    &lt; Back to user
  
.col-sm-12
  = render 'details', subscription_presenter: @subscription_presenter
  = render 'shipping_info', subscription_presenter: @subscription_presenter if @subscription_presenter.show_shipping_info?
  = render 'transactions', subscription_presenter: @subscription_presenter

= render 'edit_location', subscription: @subscription_presenter.subscription if @subscription_presenter.local_pick_up?
= render 'edit_renewal_date', subscription: @subscription_presenter.subscription
