= content_for(:menubar) do
  Sales Reps

= content_for(:menubar_right) do
  .pull-right
    = link_to new_organization_user_path, class: 'btn btn-primary' do
      = icon 'plus-circle'
      Add New

.col-md-9
  #sales_reps
    = render 'sales_reps', sales_reps: @sales_reps_presenter.sales_reps

.col-md-3
  = render 'search', sales_reps_presenter: @sales_reps_presenter

:javascript
  var organization_sales_reps_ready = function () {
    OrganizationSalesReps.init();
  }

  $(document).on("ready page:load", organization_sales_reps_ready);
  $(document).ready(organization_sales_reps_ready);