.chart
  %h3
    Total Subscriptions
    .total.pull-right.hidden-xs
      #{dashboard_presenter.total_subscriptions_count} total
      .change{class: "#{dashboard_presenter.change_direction}"}
        %i.fa{ class: "fa-chevron-#{dashboard_presenter.change_direction}" }
        = number_to_percentage(dashboard_presenter.total_change_ratio)
  
  = line_chart dashboard_presenter.total_subscriptions_data