= simple_form_for subscription, url: user_subscription_path(subscription), method: :put do |f|
  .row.margin-bottom-20
    %h2{:style => "margin: 30px 0 15px 15px"} Edit your subscripton

    .col-sm-6
      %div{:style => "width: 75%; margin-top: 10px"}
        %label Plan
        = f.input :plan_id, as: :select, collection: plans, label: false, input_html: { class: 'form-control' }, include_blank: false

    .col-sm-6
      %p{:style => "margin-top: 30px"}
        Select the subscription plan you would like. Some plans may be subject to additional taxes depending on your location.

    .row
      .col-sm-6{:style => "margin-top: 30px; padding: 0 30px"}
        .pull-left
          = link_to 'Nevermind...', root_path, class: 'btn btn-default', style: 'margin-right: 5px'
          = f.submit 'Save Changes', class: 'btn btn-primary', style: 'margin-left: 5px'

= button_to 'Cancel Subscription', cancel_user_subscription_path(subscription), method: :put, data: {confirm: 'Are you sure?', 'disable-with' => 'Canceling...'}, class: 'btn btn-danger pull-right', style: 'margin-top: -55px; z-index: 99'