.profile-body
  = render 'product_info', plan: plan
  = render 'plan', f: f, plan: plan
  = render 'account_info', f: f
  = render 'location_info', f: f, plan: plan
  = render 'shipping_info', f: f, plan: plan
  = render 'billing_info', f: f
  
  %br
  .col-4-sm{:style => "margin-top: 30px"}
    %a.btn.btn-default{:href => "user.html", :style => "margin-right: 5px", :type => "button"} Cancel
    %button.btn.btn-primary{:style => "margin-left: 5px", :type => "submit"} Subscribe