.profile-body
  .row.margin-bottom-20
    .col-sm-5
      = image_tag plan.product.image.url(:full), class: 'img img-responsive'
    .col-sm-7
      %h3 #{plan.product.name}
      %p #{plan.product.description}
      %p
        Would you like to find out more about the different plans available before you decide?
        = link_to 'click here', user_product_path(plan.product)
  .row.margin-bottom-20
    %h2{:style => "margin: 30px 0 15px 15px"} Choose your subscripton plan
    .col-sm-6
      %div{:style => "width: 45%"}
        %label Start Date
        .input-group
          %span.input-group-addon
            = icon 'calendar'
          = f.input :start_date, label: false, required: true, input_html: { class: 'form-control datepicker'}
        
      %div{:style => "width: 75%; margin-top: 10px"}
        = f.input :plan_id, as: :select, collection: plans_for_select(@plan), label: 'Plan', required: true, input_html: { class: 'form-control'}, selected: @plan.id
    .col-sm-6
      %p{:style => "margin-top: 15px"}
        Choose the date you would like your subscription to begin billing. It will automatically renew each month for you on this date.
      %p{:style => "margin-top: 30px"}
        Select the subscription plan you would like. Some plans may be subject to additional taxes depending on your location.
  %h2{:style => "margin: 15px 0 15px 0"} Account Information
  .row.margin-bottom-10
    .col-sm-6
      = f.input :member_number, label: 'Member #', required: true, input_html: { class: 'form-control', style: 'width: 46%' }
    .col-sm-6
      %p{:style => "margin-top: 15px"}
        Please enter your account information in the fields provided. A filed marked with an * is a required field.
  .row.margin-bottom-10
    .col-sm-6
      = f.input :first_name, label: 'First Name', required: true, input_html: { class: 'form-control'}
  .row.margin-bottom-10
    .col-sm-6
      = f.input :last_name, label: 'Last Name', required: true, input_html: { class: 'form-control'}
  .row.margin-bottom-10
    .col-sm-6
      = f.input :email, required: true, input_html: { class: 'form-control'}
  .row.margin-bottom-10
    .col-sm-6
      = f.input :phone_number, label: 'Phone Number', required: true, input_html: { class: 'form-control'}
  .row{:style => "margin-top: 30px"}
    .col-sm-6
      %label Shipping Address*
      %input.form-control{:placeholder => "123 Somewhere St.", :type => "text"}
    .col-sm-6
      %p (Casey: This should only show up if a plan with shipping was selected)
  .row{:style => "margin-top: 15px"}
    .col-sm-6
      = f.input :street_address_2, label: false, placeholder: 'Apt / Suite', input_html: { class: 'form-control' }
  .row{:style => "margin-top: 15px"}
    .col-sm-6
      .row
        .col-sm-6
          = f.input :city, input_html: { class: 'form-control' }
        .col-sm-3
          = f.input :state_code, label: 'State', input_html: { class: 'form-control' }
        .col-sm-3
          = f.input :zip, input_html: { class: 'form-control' }
  %h2{:style => "margin: 30px 0 15px 0"} Billing Information
  .row.margin-bottom-10
    .col-sm-3
      %label{for: 'first_name'} * First Name
      = text_field_tag nil, '', required: true, id: 'first_name', class: 'form-control', data: {recurly: 'first_name'}
    .col-sm-3
      %label{for: 'last_name'} * Last Name
      = text_field_tag nil, '', required: true, id: 'last_name', class: 'form-control', data: {recurly: 'last_name'}

    .col-sm-6
      %p{:style => "margin-top: 15px"}
        Enter the name exactly as it appears on the credit card.
          
  .row.margin-bottom-10
    .col-sm-6
      %label{for: 'number'} * Card Number
      = text_field_tag nil, '', required: true, id: 'number', class: 'form-control', placeholder: '•••• •••• •••• ••••', data: {recurly: 'number'}
  .row.margin-bottom-10
    .col-sm-6
      .row
        .col-sm-4
          %label * Exp. Month
          = select_tag nil, options_for_select(months_for_select.collect {|p| [p[0], p[1]] }), required: true, id: 'month', class: 'form-control', data: {recurly: 'month'}
        .col-sm-4
          %label * Exp. Year
          = select_tag nil, options_for_select(years_for_select.collect {|p| [p, p] }), required: true, id: 'year', class: 'form-control', data: {recurly: 'year'}
        .col-sm-4
          %label{for: 'cvv'} * CVV
          = text_field_tag nil, '', required: true, id: 'cvv', class: 'form-control', data: {recurly: 'cvv'}
    .col-sm-6
      %p{:style => "margin-top: 15px"}
        The CVV number is the last 3 digits on the back of your card, or the 4 digits above the card number on the front of an Amex card.
  %br
    .col-4-sm{:style => "margin-top: 30px"}
      %a.btn.btn-default{:href => "user.html", :style => "margin-right: 5px", :type => "button"} Cancel
      %button.btn.btn-primary{:style => "margin-left: 5px", :type => "submit"} Subscribe