.profile.container.content
  .row
    = render '/user/shared/user_sidebar'

    .col-md-9
      = simple_form_for(@subscription_creator, url: user_subscriptions_path, method: :post) do |f|
        = hidden_field_tag 'user_subscription_creator[recurly_token]', '', 'data-recurly' => 'token'
        = hidden_field_tag 'country', 'US', 'data-recurly' => 'country'
        = render 'form', f: f, plan: @plan

:javascript
  var user_subscription_wizard_ready = function () {
    SubscriptionCreator.init('#{current_organization.recurly_public_key}');
  }

  $(document).on("page:load", user_subscription_wizard_ready);
  $(document).ready(user_subscription_wizard_ready);