.row
  .col-sm-10
    = simple_form_for organization_dashboard_path, method: :get do |f|
      .col-sm-5
        .form-group
          = select_tag :plan_id, options_from_collection_for_select(dashboard_presenter.plans, 'id', 'name', dashboard_presenter.plan_id), prompt: 'All Plans', class: 'form-control'

      .col-sm-3
        .input-group
          %span.input-group-addon
            = icon 'calendar-o'
          = text_field_tag 'start_date', dashboard_presenter.start_date_friendly, class: 'form-control datepicker'
      .col-sm-3
        .input-group
          %span.input-group-addon
            = icon 'calendar-o'
          = text_field_tag 'end_date', dashboard_presenter.end_date_friendly, class: 'form-control datepicker'
      .col-sm-1
        %button.btn.btn-primary submit