= content_for(:menubar) do
  Subscriply Dashboard
  
#dashboard
  .content-wrapper
    = render 'filter', dashboard_presenter: @dashboard_presenter
    = render 'metrics', dashboard_presenter: @dashboard_presenter
    = render 'total_subscriptions', dashboard_presenter: @dashboard_presenter
    .charts-half.clearfix
      = render 'new_subscriptions', dashboard_presenter: @dashboard_presenter
      = render 'canceled_subscriptions', dashboard_presenter: @dashboard_presenter
      

:javascript
  dashboard_ready = function(){
    Dashboard.init();
  }

  $(document).ready(dashboard_ready);
  $(document).on('page:load', dashboard_ready);

