- nav = nil unless nav
.col-md-3.md-margin-bottom-40
  = image_tag current_user.avatar.url(:medium), class: 'img img-responsive profile-img margin-bottom-20'
  %ul#sidebar-nav-1.list-group.sidebar-nav-v1.margin-bottom-40
    %li.list-group-item{class: "#{nav == 'dashboard' && 'active'}"}
      = link_to root_path do
        = icon 'bar-chart-o'
        Dashboard
    %li.list-group-item{class: "#{nav == 'profile' && 'active'}"}
      = link_to edit_user_registration_path do
        = icon 'user'
        Profile
    %li.list-group-item{class: "#{nav == 'history' && 'active'}"}
      = link_to user_transactions_path do
        = icon 'history'
        History
    %li.list-group-item{class: "#{nav == 'invoices' && 'active'}"}
      = link_to user_invoices_path do
        = icon 'newspaper-o'
        Invoices
    - if current_user.billing_info?
      %li.list-group-item{class: "#{nav == 'billing' && 'active'}"}
        = link_to edit_user_billing_info_path do
          = icon 'credit-card'
          Billing info
    .margin-bottom-50