.panel.panel-default
  .panel-heading
    %span Billing info:
    = link_to edit_organization_user_path(@user_presenter.user), class: 'pull-right' do
      = icon 'edit'
  .panel-body
    - if @user_presenter.has_billing_info?
      %dl.dl-horizontal
        %dt Card type:
        %dd #{@user_presenter.card_type}
        %dt Card ending:
        %dd **** #{@user_presenter.last_four}
        %dt Expires:
        %dd #{@user_presenter.expiration}
    - else
      %p None