.panel.panel-default
  .panel-heading
    %span Details:
    = link_to edit_organization_user_path(@user_presenter.user), class: 'pull-right' do
      = icon 'edit'
  .panel-body
    %dl.dl-horizontal
      %dt Member #:
      %dd #{user_presenter.member_number}
      %dt Full name:
      %dd #{user_presenter.name}
      %dt email:
      %dd
        %a{:href => "mailto:#{user_presenter.email}"} #{user_presenter.email}
      %dt Phone:
      %dd #{user_presenter.phone_number}
      %br
      %dt Shipping:
      %dd
        = simple_format user_presenter.address