.tab.edit
  .col-md-12.col-lg-10
    .center-block
      = simple_form_for(user, url: organization_user_path(user)) do |f|
        .row
          .col-md-6
            .form-group
              = f.input :first_name, as: :string, placeholder: 'First Name', input_html: {class: 'form-control'}
          .col-md-6
            .form-group
              = f.input :last_name, as: :string, placeholder: 'Last Name', input_html: {class: 'form-control'}
        .row
          .col-md-6
            .form-group
              = f.input :email, as: :string, placeholder: 'Email Address', input_html: {class: 'form-control', type: 'email'}
        - if user.organization.require_customer_id?
          .row
            .col-md-6
              .form-group
                = f.input :customer_id, as: :string, label: 'Customer ID', placeholder: 'Customer ID', input_html: {class: 'form-control'}
        .form-group.action
          %input.btn.btn-success{type: 'submit', value: 'Save changes'}