.tab.orders
  #datatable-example_wrapper.dataTables_wrapper{role: 'grid'}
    %table#datatable-example.dataTable{'aria-describedby' => 'datatable-example_info'}
      %thead
        %tr{:role => 'row'}
          %th Order
          %th Purchase Date
          %th Event(s)
          %th Total
          %th Status
          %th &nbsp;
      %tbody{'aria-live' => 'polite', 'aria-relevant' => 'all', :role => 'alert'}
        - user_presenter.orders.each do |order|
          %tr{class: cycle('odd', 'even')}
            %td= link_to order.id, organization_user_order_path(order.user, order)
            %td #{order.payment_submitted_at.strftime('%B %e, %Y')}
            %td #{order.event_names}
            %td #{number_to_currency(order.total)}
            %td #{order.state}
            %td= link_to 'Tickets', '#', data: {toggle: 'modal', target: "#order_#{order.id}"}
