.panel.panel-default
  .panel-heading
    %span Transactions:
  .panel-body
    - if transactions.any?
      %table.table.table-condensed
        %thead
          %tr
            %th
            %th Transaction
            %th Date
            %th Amount
            %th Status
        %tbody
          - transactions.each do |transaction|
            %tr
              %td
                - if transaction.charge?
                  = icon 'credit-card'
                - elsif transaction.credit?
                  = icon 'plus'
              %td= link_to transaction.id, organization_transaction_path(transaction)
              %td #{transaction.created_at.strftime('%m/%d/%Y')}
              %td #{number_to_currency(transaction.price)}
              %td #{transaction.state.titleize}
    - else
      %p None
  - if transactions.any?
    .panel-footer
      = link_to 'view all', organization_transactions_path(query: user_id), class: 'btn btn-default btn-xs'