%tr
  %td
    - if user.member_number?
      = link_to user.member_number, organization_user_path(user)
    - else
      = link_to 'n/a', organization_user_path(user)
  %td= link_to user.name, organization_user_path(user)
  %td= link_to user.email, "mailto:#{user.email}"
  %td #{user.created_at.strftime('%m/%-e/%y')}
  %td #{user.status}