= content_for(:menubar) do
  Users

= content_for(:menubar_right) do
  .pull-right
    = link_to new_organization_user_path, class: 'btn btn-primary' do
      = icon 'plus-circle'
      Add New

.col-md-9
  #users
    = render 'users', users: @users_presenter.users

.col-md-3
  = render 'search', users_presenter: @users_presenter

:javascript
  var organization_users_ready = function () {
    OrganizationUsers.init();
  }

  $(document).on("ready page:load", organization_users_ready);
  $(document).ready(organization_users_ready);