= content_for(:menubar) do
  New User

= simple_form_for(User.new, url: organization_users_path, method: :post) do |f|
  .row
    .col-md-6
      .row
        .col-md-6
          = f.input :first_name, required: true, as: :string, label: 'First Name', input_html: {class: 'form-control'}
        .col-md-6
          = f.input :last_name, required: true, as: :string, label: 'Last Name', input_html: {class: 'form-control'}
    .col-md-6
      %p{:style => "margin-top: 20px"} Use this form to send an invitation email for someone to create their own account, set passwords, and choose subscriptions.
  .row
    .col-md-6
      = f.input :sales_rep_id, as: :select, collection: @sales_reps, label: 'Sales Rep', input_html: { class: 'form-control select2' }
  .row
    .col-md-6
      .row
        .col-md-7
          .form-group{:style => "margin-top: 15px"}
            = f.input :email, required: true, as: :string, label: 'Email', input_html: {class: 'form-control'}
        .col-md-5
          .form-group
            .checkbox{style: 'margin-top: 40px'}
              = f.input :is_sales_rep, as: :boolean, label: 'Make Sales Rep'

  .row
    .col-4-md{:style => "margin: 30px"}
      = link_to 'Cancel', organization_users_path, class: 'btn btn-default'
      %button.btn.btn-primary{:style => "margin-left: 5px", :type => "submit"} Send invitation

:javascript
  $('#user_sales_rep_id').select2();