= content_for(:body_id) do
  user-profile

= content_for(:menubar) do
  Customer:
  %small.hidden-xs #{@user_presenter.name}

= content_for(:menubar_right) do
  .pull-right
    .row.status-labels
      = @user_presenter.status_label
      = raw @user_presenter.product_status_labels

.row
  .col-md-12
    %p.pull-right
      %strong Sales Rep:
      - if @user_presenter.has_sales_rep?
        #{@user_presenter.sales_rep_name} (#{@user_presenter.sales_rep_number})
      - else
        n/a

.row
  .col-md-7  
    = render 'notes_form', note: @note, user: @user_presenter.user
    = render 'recent_notes', notes: @user_presenter.notes

  .col-md-5
    = render 'details', user_presenter: @user_presenter
    = render 'billing_info', user_presenter: @user_presenter
    = render 'subscriptions', subscriptions: @user_presenter.subscriptions, products: @user_presenter.products
    = render 'invoices', invoices: @user_presenter.invoices, user_id: @user_presenter.user.id
    = render 'transactions', user_presenter: @user_presenter

= render 'add_subscription_modal', user_presenter: @user_presenter    

:javascript
  OrganizationSubscription.init();
