!!!
%html
  %head
    %title Subscriply
    = stylesheet_link_tag    'organizer', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/notifications'

    .container-fluid
      .col-md-7.col-md-offset-2
        = yield
