!!!
%html
  %head
    %title Subscriply
    = stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'user', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=true'
    = csrf_meta_tags
  %body
    = render 'layouts/notifications'

    .wrapper
      = render 'layouts/user/header'

      .container
        = yield

      #footer
        .container
          .row
            .col-md-12
              .pull-left
                %p
                  2014 &copy; Subscriply. All Rights Reserved
                  = link_to 'Privacy Policy', '#'
                  |
                  = link_to 'Terms of Service', '#'
              .hidden-xs.pull-right{style: 'height: 20px'}
                = link_to '#', id: 'link-to-top' do
                  = icon 'caret-up'
